In [1]:
from pymongo import MongoClient
import pandas as pd
import plotly.express as px
import base64
from io import BytesIO
import matplotlib.pyplot as plt
import datetime

In [2]:
def get_db():
    try:
        client = MongoClient("mongodb+srv://kevindev:qAWDpxE0GnoZPoAF@colegiosai.qs31n.mongodb.net/myFirstDatabase", retryWrites=False)
        db = client['ColegiosAI']
    except ConnectionFailure:
        print('Error de conexion')
    return db

In [3]:
primaria_ = ['CUARTO 401 - 3',
       'CUARTO 402 - 3', 'CUARTO 403 - 3', 'PRIMERO 101 - 3',
       'PRIMERO 102 - 3', 'PRIMERO 103 - 3', 'QUINTO 501 - 3',
       'QUINTO 502 - 3', 'QUINTO 503 - 3', 'SEGUNDO 201 - 3',
       'SEGUNDO 202 - 3', 'SEGUNDO 203 - 3', 'TERCERO 301 - 3',
       'TERCERO 302 - 3', 'TERCERO 303 - 3', 'CUARTO 401 - 4',
       'CUARTO 402 - 4', 'PRIMERO 101 - 4', 'PRIMERO 102 - 4',
       'QUINTO 501 - 4', 'QUINTO 502 - 4', 'SEGUNDO 201 - 4',
       'SEGUNDO 202 - 4', 'SEGUNDO 203 - 4', 'TERCERO 301 - 4',
       'TERCERO 302 - 4', 'TERCERO 303 - 4', 'PRIMERO 104 - 3',
       'PRIMERO 103 - 4', 'CUARTO 1 - 3', 'CUARTO 2 - 3', 'CUARTO 3 - 3',
       'PRIMERO 1 - 3', 'PRIMERO 2 - 3', 'PRIMERO 3 - 3', 'QUINTO 1 - 3',
       'QUINTO 2 - 3', 'QUINTO 3 - 3', 'SEGUNDO 1 - 3', 'SEGUNDO 2 - 3',
       'SEGUNDO 3 - 3', 'SEGUNDO 4 - 3', 'TERCERO 1 - 3', 'TERCERO 2 - 3',
       'TERCERO 3 - 3', 'CUARTO 1 - 4', 'CUARTO 2 - 4', 'PRIMERO 1 - 4',
       'PRIMERO 2 - 4', 'PRIMERO 3 - 4', 'QUINTO 1 - 4', 'QUINTO 2 - 4',
       'SEGUNDO 1 - 4', 'SEGUNDO 2 - 4', 'SEGUNDO 3 - 4', 'TERCERO 1 - 4',
       'TERCERO 2 - 4', 'CUARTO 403 - 4']

In [4]:
materias = ["Ciencias naturales y educación ambiental",
			'Ciencias sociales, historia, geografía, constitución política y democracia',
			"Educación artística y Cultural",
			"Educación ética y en valores humanos. ",
			"Educación física,  recreación y deportes",
			"Educación religiosa. ",
			"Humanidades, lengua castellana",
			"Idioma extranjero  Inglés",
			"Matemáticas",
			"Sensibilización Pedagógica",
			"Tecnología e informática"]

In [5]:
primaria = {"Ciencias naturales y educación ambiental":'subject_1',
			'Ciencias sociales, historia, geografía, constitución política y democracia':'subject_2',
			"Educación artística y Cultural":'subject_3',
			"Educación ética y en valores humanos. ":'subject_4',
			"Educación física,  recreación y deportes":'subject_5',
			"Educación religiosa. ":'subject_6',
			"Humanidades, lengua castellana":'subject_7',
			"Idioma extranjero  Inglés":'subject_8',
			"Matemáticas":'subject_9',
			"Sensibilización Pedagógica":'subject_10',
			"Tecnología e informática":'subject_11'}

In [6]:
secundaria = ['ONCE 1101 - 6', 'ONCE 1102 - 6', 'ONCE 1103 - 6', 'ONCE 1104 - 6',
       'DIEZ 1001 - 6', 'DIEZ 1002 - 6', 'DIEZ 1003 - 6', 'DIEZ 1004 - 6',
       'DIEZ 1005 - 6', 'NUEVE 901 - 5', 'NUEVE 902 - 5', 'NUEVE 903 - 5',
       'NUEVE 904 - 5', 'NUEVE 905 - 5', 'OCHO 801 - 5', 'OCHO 802 - 5',
       'OCHO 803 - 5', 'OCHO 804 - 5', 'OCHO 805 - 5', 'OCHO 806 - 5',
       'SEIS 601 - 5', 'SEIS 602 - 5', 'SEIS 603 - 5', 'SEIS 604 - 5',
       'SEIS 605 - 5', 'SIETE 701 - 5', 'SIETE 702 - 5', 'SIETE 703 - 5',
       'SIETE 704 - 5', 'SIETE 705 - 5', 'SIETE 706 - 5', 'SEIS 606 - 5',
       'NUEVE 1 - 5', 'NUEVE 2 - 5', 'NUEVE 3 - 5', 'NUEVE 4 - 5',
       'NUEVE 5 - 5', 'OCHO 1 - 5', 'OCHO 2 - 5', 'OCHO 3 - 5',
       'OCHO 4 - 5', 'OCHO 5 - 5', 'OCHO 6 - 5', 'SEIS 1 - 5',
       'SEIS 2 - 5', 'SEIS 3 - 5', 'SEIS 4 - 5', 'SEIS 5 - 5',
       'SEIS 6 - 5', 'SIETE 1 - 5', 'SIETE 2 - 5', 'SIETE 3 - 5',
       'SIETE 4 - 5', 'SIETE 5 - 5', 'SIETE 6 - 5', 'DIEZ 1 - 6',
       'DIEZ 2 - 6', 'DIEZ 3 - 6', 'DIEZ 4 - 6', 'DIEZ 5 - 6',
       'ONCE 1 - 6', 'ONCE 2 - 6', 'ONCE 3 - 6']

In [7]:
materias_secundaria1 = ["Ciencias naturales y educación ambiental",
			'Ciencias sociales, historia, geografía, constitución política y democracia',
			"Educación artística y Cultural",
			"Educación ética y en valores humanos. ",
			"Educación física,  recreación y deportes",
			"Educación religiosa. ",
			"Humanidades, lengua castellana",
			"Idioma extranjero:  Inglés",
			"Idioma extranjero: Francés",
			"Matemáticas",
			"Sensibilización Pedagógica",
			"Tecnología e informática"]

segundaria_1 = {"Ciencias naturales y educación ambiental":'subject_1',
				'Ciencias sociales, historia, geografía, constitución política y democracia':'subject_2',
				"Educación artística y Cultural":'subject_3',
				"Educación ética y en valores humanos. ":'subject_4',
				"Educación física,  recreación y deportes":'subject_5',
				"Educación religiosa. ":'subject_6',
				"Humanidades, lengua castellana":'subject_7',
				"Idioma extranjero:  Inglés":'subject_8',
				"Idioma extranjero: Francés":'subject_9',
				"Matemáticas":'subject_10',
				"Sensibilización Pedagógica":'subject_11',
				"Tecnología e informática":'subject_12'}

In [8]:
materias_secundaria2 = ["Ciencias naturales y educación ambiental",
			'Ciencias sociales, historia, geografía, constitución política y democracia',
			"Educación artística y Cultural: Práctica instrumental",
			"Educación ética y en valores humanos. ",
			"Educación física,  recreación y deportes",
			"Educación religiosa. ",
			"Filosofía",
			"Humanidades, lengua castellana",
			"Idioma extranjero:  Inglés",
			"Idioma extranjero: Francés",
			"Matemáticas",
			"Práctica Pedagógica Investigativa",
			"Tecnología e informática"]

segundaria_2 = {"Ciencias naturales y educación ambiental":'subject_1',
				'Ciencias sociales, historia, geografía, constitución política y democracia':'subject_2',
				"Educación artística y Cultural: Práctica instrumental":'subject_3',
				"Educación ética y en valores humanos. ":'subject_4',
				"Educación física,  recreación y deportes":'subject_5',
				"Educación religiosa. ":'subject_6',
				"Filosofía":'subject_7',
				"Humanidades, lengua castellana":'subject_8',
				"Idioma extranjero:  Inglés":'subject_9',
				"Idioma extranjero: Francés":'subject_10',
				"Matemáticas":'subject_11',
				"Práctica Pedagógica Investigativa":'subject_12',
				"Tecnología e informática":'subject_13'}

In [9]:
db = get_db()

In [10]:
def createDataFrameMaterias(materia):
	query_dos = db.estudiantes.aggregate([
	    {
	        '$project': {
	            '_id': 0, 
	            'full_name': 1,
	            'full_name': 1,
	            primaria[materia]: 1,
	            'year': 1,
	            'segment': 1
	        }
	    }
	])
	df = pd.json_normalize(query_dos)
	df = df[df.segment.isin(primaria_)]
	df.drop([primaria[materia]+'.f'],axis=1,inplace=True)
	df_nuevo = pd.DataFrame(columns=['nombre','segment', 'fecha', 'periodo',primaria[materia]+'-nota'])
	fecha = ['03/01/','06/01/','09/01/','12/01/']
	for i in range(0,len(df),1):
		for j in range(1,5,1):
			dff = pd.DataFrame([[df.full_name.iloc[i],df.segment.iloc[i],fecha[j-1]+str(df.year.iloc[i]),'p'+str(j),df[primaria[materia]+'.p'+str(j)].iloc[i]]],columns=['nombre', 'segment', 'fecha', 'periodo' ,primaria[materia]+'-nota'])
			df_nuevo = pd.concat([df_nuevo, dff],ignore_index=True)
	return df_nuevo

In [11]:
def createDataFrame(materias):
	for materia in materias:
		df = createDataFrameMaterias(materia)
		try:
			df_temp = df_temp.merge(df, on=['nombre','segment','fecha','periodo'])
		except:
			df_temp = df[['nombre', 'fecha','segment', 'periodo', primaria[materia]+'-nota']]
			df_temp = df_temp.merge(df, on=['nombre','segment','fecha','periodo'])
	return df_temp

In [12]:
df_final = createDataFrame(materias)

In [13]:
filtro_notas = {'AB':'2', 'AA':'4', 'NA':'1', 'AM':'3'}
df_final_2 = df_final.replace(filtro_notas)

In [14]:
df_final_2['fecha'] = pd.to_datetime(df_final_2['fecha'])

In [15]:
# para crear archivo csv
#df_final_2.to_csv('data.csv')

In [16]:
df_final_2.head()

,nombre,fecha,segment,periodo,subject_1-nota_x,subject_1-nota_y,subject_2-nota,subject_3-nota,subject_4-nota,subject_5-nota,subject_6-nota,subject_7-nota,subject_8-nota,subject_9-nota,subject_10-nota,subject_11-nota
0,AGUILAR GARCIA SANTIAGO,2021-03-01,CUARTO 401 - 3,p1,3,3,3,3,3,3,3,3,3,3,3,3
1,AGUILAR GARCIA SANTIAGO,2021-06-01,CUARTO 401 - 3,p2,3,3,3,3,3,3,3,3,3,3,3,3
2,AGUILAR GARCIA SANTIAGO,2021-09-01,CUARTO 401 - 3,p3,3,3,3,3,3,3,3,3,3,4,3,3
3,AGUILAR GARCIA SANTIAGO,2021-12-01,CUARTO 401 - 3,p4,3,3,3,3,3,3,3,3,3,4,3,3
4,MURILLO BUITRAGO SUSANA,2021-03-01,CUARTO 401 - 3,p1,3,3,3,3,3,3,3,3,3,3,3,3